.wpl_button {
	display: inline-block;
	z-index: 500;
	user-select: none;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}
.wpl_button::before {
	content: attr(data-label_light);
}
.darkmode--activated .wpl_button::before {
	content: attr(data-label_dark);
}
.darkmode-layer, .darkmode-toggle {
	/*z-index: 500; !* uncomment for debug *!*/
}
.darkmode-layer + div {
	display: none;
}
.darkmode-layer--button {
	right: -100px !important;
}
.darkmode-toggle {
	display: none !important;
}
.darkmode--activated .elementor-image img {
	/*mix-blend-mode: difference;*/
	/*isolation: isolate;*/
}

#site-header {
	position: static !important;
}
.header-inner {
	z-index: inherit !important;
}