.wpl_button {
	display: inline-block;
	z-index: 500;
	user-select: none;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}
.wpl_button::before {
	content: attr(data-label);
}
.darkmode-layer {
	z-index: 500;
}
.darkmode-layer + div {
	display: none;
}
.darkmode-layer--button {
	right: -100px;
}